<mat-nav-list dense>
  <h3 matSubheader>项目</h3>
  <mat-list-item>
    <mat-icon mat-list-icon class="icon iconfont icon-project"></mat-icon>
    <span mat-line>项目首页</span>
    <span mat-line matSubheader>查看您的所有项目</span>
  </mat-list-item>
  <h3 matSubheader>日历</h3>
  <mat-list-item>
    <mat-icon mat-list-icon class="icon iconfont icon-yue"></mat-icon>
    <span mat-line>月视图</span>
    <span mat-line matSubheader>按月查看您的任务</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon class="icon iconfont icon-week"></mat-icon>
    <span mat-line>周视图</span>
    <span mat-line matSubheader>按周查看您的任务</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon class="icon iconfont" [ngClass]="today"></mat-icon>
    <span mat-line>日视图</span>
    <span mat-line matSubheader>按天查看您的任务</span>
  </mat-list-item>
</mat-nav-list>
