<form>
  <h2 mat-dialog-title>新建项目</h2>
  <mat-dialog-content>
    <mat-input-container class="full-width">
      <input matInput type="text" placeholder="项目名称">
    </mat-input-container>
    <mat-input-container class="full-width">
      <input matInput type="text" placeholder="项目描述">
    </mat-input-container>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="button" mat-raised-button color="primary" (click)="onClick()">保存</button>
    <button type="button" mat-button mat-dialog-close>关闭</button>
  </mat-dialog-actions>
</form>
