<form>
  <mat-card>
    <mat-card-header>
      <mat-card-title>登录：</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-input-container class="full-width">
        <!-- <span matPrefix>liu</span>-->
        <input matInput type="text" placeholder="您的email">
        <!--<span matSuffix>@qq.com</span>
        <mat-hint>必填项</mat-hint>-->
      </mat-input-container>
      <mat-input-container class="full-width">
        <input matInput type="password" placeholder="您的密码">
      </mat-input-container>
      <button mat-raised-button type="button" color="accent">登录</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>还没有账户？<a routerLink="/register">注册</a></p>
      <p>忘记密码？<a href="#">找回</a></p>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>每日佳句</mat-card-title>
      <mat-card-subtitle>满足感在于不断的努力，而不是现有成就</mat-card-subtitle>
    </mat-card-header>
    <img src="/assets/logoPage-leftImg.jpg" mat-card-image>
    <mat-card-content>
      Satisfaction lies in the effort,not in the attainment.Full effort is full
    </mat-card-content>
  </mat-card>
</form>

